MISC-PowerAutomateM365.json
{"$schema":"https://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#","contentVersion":"1.0.0.0","parameters":{"logicAppName":{"type":"String","metadata":{"description":"Name of the logic app."}},"logicAppLocation":{"defaultValue":"[resourceGroup().location]","allowedValues":["eastasia","southeastasia","centralus","eastus","eastus2","westus","northcentralus","southcentralus","northeurope","westeurope","japanwest","japaneast","brazilsouth","australiaeast","australiasoutheast","southindia","centralindia","westindia","canadacentral","canadaeast","uaecentral","westcentralus","westus2","[resourceGroup().location]"],"type":"String","metadata":{"description":"Location of the logic app."}},"sendmail_Connection_Name":{"defaultValue":"sendmail","type":"String","metadata":{"description":"Name of the connection."}},"teams_Connection_Name":{"defaultValue":"teams","type":"String","metadata":{"description":"Name of the connection."}},"twitter_Connection_Name":{"defaultValue":"twitter","type":"String","metadata":{"description":"Name of the connection."}}},"resources":[{"type":"Microsoft.Logic/workflows","apiVersion":"2016-06-01","name":"[parameters('logicAppName')]","location":"[parameters('logicAppLocation')]","dependsOn":["[resourceId('Microsoft.Web/connections', parameters('sendmail_Connection_Name'))]","[resourceId('Microsoft.Web/connections', parameters('teams_Connection_Name'))]","[resourceId('Microsoft.Web/connections', parameters('twitter_Connection_Name'))]"],"properties":{"state":"Disabled","definition":{"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"When_a_new_tweet_appears":{"recurrence":{"frequency":"Minute","interval":5},"splitOn":"@triggerBody()?.value","metadata":{"flowSystemMetadata":{"swaggerOperationId":"OnNewTweet"}},"type":"ApiConnection","inputs":{"host":{"connection":{"name":"@parameters('$connections')['twitter']['connectionId']"}},"method":"get","path":"/onnewtweet","queries":{"searchQuery":"from:@MSFT365Status"},"authentication":"@parameters('$authentication')"},"conditions":[]}},"actions":{"Send_emailScope":{"actions":{"Send_email":{"runAfter":{},"metadata":{"flowSystemMetadata":{"swaggerOperationId":"SendEmail"}},"type":"ApiConnection","inputs":{"host":{"connection":{"name":"@parameters('$connections')['sendmail']['connectionId']"}},"method":"post","body":{"to":"James.Wylde@smurfitkappa.co.uk;","subject":"Microsoft 365 Status Update","text":"Microsoft 365 Status Update\n\n@{triggerBody()['OriginalTweet']['TweetText']}","ishtml":false},"path":"/mail/send","authentication":"@parameters('$authentication')"}},"Post_message_in_a_chat_or_channel":{"runAfter":{"Send_email":["Succeeded"]},"metadata":{"flowSystemMetadata":{"swaggerOperationId":"PostMessageToConversation"}},"type":"ApiConnection","inputs":{"host":{"connection":{"name":"@parameters('$connections')['teams']['connectionId']"}},"method":"post","body":{"recipient":"James.Wylde@smurfitkappa.co.uk;","messageBody":"<p>Microsoft 365 Status Update<br>\n<br>\n@{triggerBody()?['TweetText']}</p>"},"path":"/beta/teams/conversation/message/poster/Flow bot/location/@{encodeURIComponent('Chat with Flow bot')}","authentication":"@parameters('$authentication')"}}},"runAfter":{},"expression":"@equals(triggerBody()?['TweetInReplyToUserId'], '')","type":"If"}},"description":"Search for tweets, and then when it's from a specific user, you will receive an Email."},"parameters":{"$connections":{"value":{"sendmail":{"id":"[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', parameters('logicAppLocation'), '/managedApis/', 'sendmail')]","connectionId":"[resourceId('Microsoft.Web/connections', parameters('sendmail_Connection_Name'))]","connectionName":"[parameters('sendmail_Connection_Name')]"},"teams":{"id":"[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', parameters('logicAppLocation'), '/managedApis/', 'teams')]","connectionId":"[resourceId('Microsoft.Web/connections', parameters('teams_Connection_Name'))]","connectionName":"[parameters('teams_Connection_Name')]"},"twitter":{"id":"[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', parameters('logicAppLocation'), '/managedApis/', 'twitter')]","connectionId":"[resourceId('Microsoft.Web/connections', parameters('twitter_Connection_Name'))]","connectionName":"[parameters('twitter_Connection_Name')]"}}}},"runtimeConfiguration":{"lifetime":{"unit":"Day","count":30},"collections":{"maximumItemCount":5000},"performanceProfile":{"throttles":{"mode":"Low"}},"retryPolicy":{"type":"Exponential","interval":"PT5M","count":2,"minimumInterval":"PT5M","maximumInterval":"PT1H"},"usageConfiguration":{"name":"USER-7493E8A4CEE4441BA0B6F40B98D8F0C1"}},"integrationAccount":{"name":"67d2558fa4af4478bc72d7585f436bad-westeurope","id":"subscriptions/5c340b36-e0fa-450e-b6c2-cb7e0327fc56/resourceGroups/67d2558fa4af4478bc72d7585f436bad-ia/providers/Microsoft.Logic/integrationAccounts/67d2558fa4af4478bc72d7585f436bad-westeurope","type":"Microsoft.Logic/integrationAccounts"}}},{"type":"Microsoft.Web/connections","apiVersion":"2016-06-01","name":"[parameters('sendmail_Connection_Name')]","location":"[parameters('logicAppLocation')]","properties":{"api":{"id":"[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', parameters('logicAppLocation'), '/managedApis/', 'sendmail')]"},"displayName":"[parameters('sendmail_Connection_Name')]"}},{"type":"Microsoft.Web/connections","apiVersion":"2016-06-01","name":"[parameters('teams_Connection_Name')]","location":"[parameters('logicAppLocation')]","properties":{"api":{"id":"[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', parameters('logicAppLocation'), '/managedApis/', 'teams')]"},"displayName":"[parameters('teams_Connection_Name')]"}},{"type":"Microsoft.Web/connections","apiVersion":"2016-06-01","name":"[parameters('twitter_Connection_Name')]","location":"[parameters('logicAppLocation')]","properties":{"api":{"id":"[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', parameters('logicAppLocation'), '/managedApis/', 'twitter')]"},"displayName":"[parameters('twitter_Connection_Name')]"}}]}